!!!
%html
  %head
    %title
      Zait
    = stylesheet_link_tag 'main'
    = javascript_include_tag 'utils'
    = javascript_include_tag 'time'
    = javascript_include_tag 'events'
    = javascript_include_tag 'jquery.min.js'
    = javascript_include_tag 'jquery.cookie.js'
    = javascript_include_tag "location"
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"

    = csrf_meta_tag 
  %body
    #content
      #header
        %h1
          Zait Clock

      = yield

      #footer
        %ul
          %li 
            = link_to "Home", "/"
          %li 
            = link_to "iPhone", "/iPhone"
          %li 
            = link_to "About", "/About"
          %li 
            = link_to "Contact", "/Contact"
